/* CSS declarations go here */

.float-left {
  float: left;
}
#main-content {
  padding: 0 0;
}
.font-weight-600 {
  font-weight: 600;
}
.price {
  font-size: 18px !important;
}

.products li .product-info {
  background-color: #eee;
}
.add_to_cart_button {
  background-color: #eee;
}

.flexslider .slides img {
  max-height: 500px;
}

#wprt-carousel .slides > li {
  /*height: 100px;*/
}

.owl-carousel .owl-item img {
  /* height: 250px; */
}
.uppercase {
  text-transform: uppercase;
}
.products li h2 {
  font-size: 17px;
}
.products li .product-info {
  background-color: transparent;
}
#qty-shift {
  display: inline;
  background-color: transparent;
  border: 1px solid #777;
  border-radius: 0px;
  padding: 15px 18px;
  color: black;
}
.error {
  color: red;
}
.success {
  color: green;
}
.car-servicing-box {
  margin: 10px;
  height: 300px;
}
.wprt-contact-form .wpcf7-form-control-wrap.your-message textarea {
  height: 140px;
}
.isa_info,
.isa_success,
.isa_warning,
.isa_error {
  padding: 3px;
}
.isa_info {
  color: #00529b;
  background-color: #bde5f8;
}
.isa_success {
  color: #4f8a10;
  background-color: #dff2bf;
}
.isa_warning {
  color: #9f6000;
  background-color: #feefb3;
}
.isa_error {
  color: #d8000c;
  background-color: #ffd2d2;
}
.isa_info i,
.isa_success i,
.isa_warning i,
.isa_error i {
  margin: 10px 22px;
  font-size: 2em;
  vertical-align: middle;
}
@media (min-width: 992px) {
  .car-servicing-box {
    width: 31.333333%;
  }
}
