<template name="login">
  <div class="container">
    <div
      class="wprt-spacer clearfix"
      data-desktop="70"
      data-mobi="30"
      data-smobi="30"
    ></div>

    <div class="row large-gutters">
      <div class="col-md-4">
        <div class="wprt-headings style-1 clearfix">
          <h3 class="heading clearfix">Join Us</h3>
          <div class="sep clearfix"></div>
          <p class="sub-heading clearfix">
            Get in touch with the professionals at R7Auto Service Group for
            quality services at competitive prices.
          </p>
        </div>
        <!-- /.wprt-headings -->

        <div
          class="wprt-spacer clearfix"
          data-desktop="40"
          data-mobi="30"
          data-smobi="30"
        ></div>

        <div
          class="wprt-icon-box style-5 clearfix icon-left w50 accent-outline outline-type align-left rounded-100 has-width"
        >
          <div class="icon-wrap"><i class="rt-icon-placeholder2"></i></div>

          <h3 class="heading"><a href="#">ADDRESS:</a></h3>
          <p class="desc">379 Bordillon Lane, Ikoyi. Lagos Nigeria.</p>
        </div>

        <div
          class="wprt-spacer clearfix"
          data-desktop="25"
          data-mobi="25"
          data-smobi="25"
        ></div>

        <div
          class="wprt-icon-box style-5 clearfix icon-left w50 accent-outline outline-type align-left rounded-100 has-width"
        >
          <div class="icon-wrap"><i class="rt-icon-alarm-clock"></i></div>
          <h3 class="heading"><a href="#">BUSINESS HOURS:</a></h3>
          <p class="desc">
            Monday - Friday: 8:00 AM - 6:00 PM <br />Saturday: 8:00 AM - 3:00 PM
          </p>
        </div>
        <!-- /.wprt-icon-box -->

        <div
          class="wprt-spacer clearfix"
          data-desktop="25"
          data-mobi="25"
          data-smobi="25"
        ></div>

        <div
          class="wprt-icon-box style-5 clearfix icon-left w50 accent-outline outline-type align-left rounded-100 has-width"
        >
          <div class="icon-wrap"><i class="rt-icon-chat"></i></div>
          <h3 class="heading"><a href="#">CALL US:</a></h3>
          <p class="desc">Phone: 09099828744</p>
        </div>
        <!-- /.wprt-icon-box -->

        <div
          class="wprt-spacer clearfix"
          data-desktop="0"
          data-mobi="35"
          data-smobi="35"
        ></div>
      </div>
      <!-- /.col-md-4 -->

      <div class="col-md-8">
        <div class="wprt-contact-form style-1">
          {{#if success}}
          <div class="isa_success">
            <i class="fa fa-check"></i>{{ success }}
          </div>
          {{/if}}

          {{#if error}}
          <div class="isa_error">
            <i class="fa fa-times-circle"></i> {{ error }}
          </div>
          {{/if}}

          <form class="wpcf7-form" id="login">
            <span class="wpcf7-form-control-wrap your-name">
              <input
                type="email"
                id="email"
                class="wpcf7-form-control"
                placeholder="Email *"
                required
              />
            </span>
            <span class="wpcf7-form-control-wrap your-email">
              <input
                type="password"
                id="pass"
                class="wpcf7-form-control"
                placeholder="Password *"
                required
              />
            </span>
            {{#if loading}} {{>spinner}} {{else}}

            <div class="wrap-submit">
              <input
                type="submit"
                value="LOGIN"
                class="submit wpcf7-form-control wpcf7-submit"
                id="submit"
                name="submit"
              />
            </div>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-md-12">
        <div
          class="wprt-spacer clearfix"
          data-desktop="90"
          data-mobi="60"
          data-smobi="60"
        ></div>
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
</template>
