<template name="register_modal">
  <div id="register_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Register</h4>
        </div>
        <div class="modal-body">
          {{#if success}}
          <div class="isa_success">
            <i class="fa fa-check"></i> Registration successful !.
          </div>
          {{/if}} {{#if validation_error}} {{#each validation_error_messages}}
          <div class="isa_error">
            <i class="fa fa-times-circle"></i> {{this}}
          </div>
          {{/each}} {{/if}}
          <div class="wprt-contact-form style-1 margin-top-10">
            <span>We're glad to bring you onboard !</span>
            <form class="wpcf7-form" id="register_modal_form">
              <span class="wpcf7-form-control-wrap your-name">
                <input
                  type="email"
                  class="wpcf7-form-control"
                  name="register_email"
                  placeholder="E-mail *"
                  required
                />
              </span>
              <span class="wpcf7-form-control-wrap your-email">
                <input
                  type="number"
                  class="wpcf7-form-control"
                  placeholder="Phone Number *"
                  name="register_phone"
                  required
                />
              </span>
              <span class="wpcf7-form-control-wrap your-name">
                <input
                  type="text"
                  class="wpcf7-form-control"
                  name="register_first_name"
                  placeholder="First Name *"
                  required
                />
              </span>
              <span class="wpcf7-form-control-wrap your-email">
                <input
                  type="text"
                  class="wpcf7-form-control"
                  name="register_last_name"
                  placeholder="Last Name *"
                  required
                />
              </span>
              <span class="wpcf7-form-control-wrap your-name">
                <input
                  type="password"
                  class="wpcf7-form-control"
                  name="register_password"
                  placeholder="Password *"
                  required
                />
              </span>
              <span class="wpcf7-form-control-wrap your-email">
                <input
                  type="password"
                  class="wpcf7-form-control"
                  name="register_confirm_password"
                  placeholder="Confirm Password *"
                  required
                />
              </span>
              {{#if isLoading}} {{>spinner}} {{else}}

              <div class="wrap-submit">
                <input
                  type="submit"
                  value="REGISTER"
                  class="submit wpcf7-form-control wpcf7-submit"
                />
              </div>
              {{/if}}
              <p>
                Already have an account with us ?
                <a id="show_login">Login here</a>
              </p>
            </form>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
