<template name="service_modal">
  <div id="service_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Service Request Form</h4>
        </div>
        <div class="modal-body">
          {{#if success}}
          <div class="isa_success">
            <i class="fa fa-check"></i> Request received successfully !.
          </div>
          {{/if}} {{#if validation_error}} {{#each validation_error_messages}}
          <div class="isa_error">
            <i class="fa fa-times-circle"></i>
            {{this}}
         </div>
          {{/each}} {{/if}}

          <div class="wprt-contact-form style-1 margin-top-10">
            <span>Please provide your vehicle details</span>
            <form class="wpcf7-form" id="service-request-form">
              <span class="wpcf7-form-control-wrap your-name">
                <select name="vehicle_make">
                  <option value="Any"> Select Vehicle Make </option>
                  <option value="Toyota"> Toyota </option>
                  <option value="Honda"> Honda </option>
                  <option value="Nissan"> Nissan </option>
                  <option value="Ford"> Ford </option>
                  <option value="Mercedes Benz"> Mercedes Benz </option>
                  <option value="Hyundai"> Hyundai </option>
                  <option value="KIA"> KIA </option>
                  <option value="Mazda"> Mazda </option>
                </select>
              </span>
              <span class="wpcf7-form-control-wrap your-email">
                <input
                  type="text"
                  name="vehicle_model"
                  class="wpcf7-form-control"
                  placeholder="Vehicle Model *"
                  required
                />
              </span>
              <span class="wpcf7-form-control-wrap your-subject">
                <select name="vehicle_year">
                  <option value="2018">Year</option>
                  <option value="2000">2000</option>
                  <option value="2001">2001</option>
                  <option value="2002">2002</option>
                  <option value="2003">2003</option>
                  <option value="2004">2004</option>
                  <option value="2005">2005</option>
                  <option value="2006">2006</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                </select>
              </span>
              <span class="wpcf7-form-control-wrap your-message">
                <textarea
                  name="vehicle_notes"
                  cols="20"
                  rows="10"
                  class="wpcf7-form-control wpcf7-textarea"
                  placeholder="Extra notes "
                ></textarea>
              </span>

              {{#if isLoading}} {{>spinner}} {{else}}

              <div class="wrap-submit">
                <input
                  type="submit"
                  value="MAKE REQUEST"
                  class="submit wpcf7-form-control wpcf7-submit"
                />
              </div>
              {{/if}}
            </form>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
