<template name="footer">
  <!-- Footer -->
  <footer id="footer">
    <div id="footer-widgets" class="wprt-container title-style-1">
      <div class="wprt-row gutter-30">
        <div class="span_1_of_4 col">
          <div class="widget widget_text">
            <div class="textwidget">
              <p class="margin-bottom-25">
                <!--
<img src="/assets/img/r7auto-logo.png" width="152" height="52" alt="Image">
                -->
              </p>
              <p>We know that honesty and transparency, coupled with reliable and friendly customer service, is what really
                builds customer trust.</p>
            </div>
          </div>
          <!-- /.widget_text -->

          <div class="widget widget_socials">
            <div class="socials clearfix">
              <div class="icon">
                <a class="active" target="_blank" href="https://facebook.com/r7autoservices">
                  <i class="rt-icon-facebook"></i>
                </a>
              </div>
              <div class="icon">
                <a target="_blank" href="https://twitter.com/r7auto">
                  <i class="rt-icon-twitter"></i>
                </a>
              </div>

              <div class="icon">
                <a target="_blank" href="https://instagram.com/r7auto">
                  <i class="rt-icon-instagram"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- /.widget_socials -->
        </div>
        <!-- /.span_1_of_4 -->

        <div class="span_1_of_4 col">
          <div class="widget widget_links">
            <h2 class="widget-title">
              <span>LINKS</span>
            </h2>
            <ul class="wprt-links clearfix col2">
              <li class="style-2">
                <a href="/shop/cars">Cars</a>
              </li>
              <li class="style-2">
                <a href="/shop/parts">Spare Parts</a>
              </li>
              <li class="style-2">
                <a href="/blog">Blog</a>
              </li>
              <li class="style-2">
                <a href="/services">Services</a>
              </li>
            </ul>
          </div>
          <!-- /.widget_links -->
        </div>
        <!-- /.span_1_of_4 -->


        <div class="span_1_of_4 col">
          <div class="widget widget_information">
            <h2 class="widget-title">
              <span>CONTACT INFO</span>
            </h2>
            <ul>
              <li class="phone clearfix">
                <div class="inner">
                  <span class="hl">Phone:</span>
                  <span class="text">+234-9099-828-744</span>
                </div>
              </li>
              <li class="email clearfix">
                <div class="inner">
                  <span class="hl">E-mail:</span>
                  <span class="text">hello@r7auto.com</span>
                </div>
              </li>
              <li class="email clearfix">
                <div class="inner">
                  <span class="hl">Skype:</span>
                  <span class="text">hello@r7auto.com</span>
                </div>
              </li>
            </ul>
          </div>
          <!-- /.widget_information -->
        </div>
        <!-- /.span_1_of_4 -->
      </div>
      <!-- /.wprt-row -->
    </div>
    <!-- /#footer-widgets -->
  </footer>
  <!-- /#footer -->

  <!-- Bottom -->
  <div id="bottom" class="clearfix style-1">
    <div id="bottom-bar-inner" class="wprt-container">
      <div class="bottom-bar-inner-wrap">
        <div class="bottom-bar-content">
          <div id="copyright">
            &copy; R7Auto - Designed by loving Nigerians. All Rights Reserved.
          </div>
          <!-- /#copyright -->
        </div>
        <!-- /.bottom-bar-content -->

        <div class="bottom-bar-menu">
          <ul class="bottom-nav">
            <li class="menu-item current-menu-item">
              <a href="/">Home</a>
            </li>
            <li class="menu-item">
              <a href="/about">About Us</a>
            </li>
            <li class="menu-item">
              <a href="/services" id="open-modal">Book Your MOD</a>
            </li>
          </ul>
        </div>
        <!-- /.bottom-bar-menu -->
      </div>
    </div>
  </div>
</template>