<template name="promotion">
  <div class="row-promotion bg-accent">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div
            class="wprt-spacer clearfix"
            data-desktop="25"
            data-mobi="35"
            data-smobi="37"
          ></div>

          <div class="wprt-action-box style-1 has-icon">
            <div class="inner">
              <div class="heading-wrap">
                <div class="text-wrap">
                  <h3 class="heading">
                    We Are Here To Help With Your Transportation All Repair
                    Needs
                  </h3>
                  <span class="icon">
                    <i class="as-icon-speedometer2"></i>
                  </span>
                </div>
              </div>
              <div class="button-wrap">
                <a href="#" class="wprt-button white">BOOK YOUR MOD</a>
              </div>
            </div>
          </div>

          <div
            class="wprt-spacer clearfix"
            data-desktop="25"
            data-mobi="35"
            data-smobi="37"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>
