<template name="home">
  <!-- Main Content -->
  <div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
      <div id="site-content" class="site-content clearfix">
        <div id="inner-content" class="inner-content-wrap">
          <div class="page-content">
            <!-- SLIDER -->
            <div class="rev_slider_wrapper fullwidthbanner-container">
              <div id="rev-slider1" class="rev_slider fullwidthabanner">
                <ul>
                  <!-- Slide 1 -->
                  <li data-transition="random">
                    <!-- Main Image -->
                    <img src="/assets/img/slider/slider-full-screen-bg-2.jpg" alt="" data-bgposition="center center" data-no-retina>

                    <!-- Layers -->
                    <div class="tp-caption tp-resizeme text-white font-heading font-weight-400" data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                      data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-125','-165']" data-fontsize="['54','54','50','38']"
                      data-lineheight="['64','64','60','48']" data-width="full" data-height="none" data-whitespace="normal"
                      data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      HONEST, QUALITY WORK
                    </div>

                    <div class="tp-caption tp-resizeme text-white font-heading font-weight-700" data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                      data-y="['middle','middle','middle','middle']" data-voffset="['-62','-62','-62','-67']" data-fontsize="['54','54','50','38']"
                      data-lineheight="['64','64','60','48']" data-width="full" data-height="none" data-whitespace="normal"
                      data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      AT AFFORDABLE PRICES
                    </div>

                    <div class="tp-caption tp-resizeme text-white" data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                      data-y="['middle','middle','middle','middle']" data-voffset="['26','26','26','56']" data-fontsize="['16','16','16','15']"
                      data-lineheight="['34','34','34','30']" data-width="full" data-height="none" data-whitespace="normal"
                      data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      We provide top-notch service for import and domestic car repairs. Servicing Brakes,
                      <br> Exhaust, Tune Ups, Engine Repairs, Electrical and A.C Systems.
                    </div>

                    <div class="tp-caption" data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                      data-voffset="['115','115','110','167']" data-width="full" data-height="none" data-whitespace="normal"
                      data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      <a href="#" class="wprt-button accent big">GET FREE QUOTES</a>
                    </div>
                  </li>
                  <!-- /End Slide 1 -->

                  <!-- Slide 2 -->
                  <li data-transition="random">
                    <!-- Main Image -->
                    <img src="/assets/img/services/service-4-600-394.jpg" alt="" data-bgposition="center center" data-no-retina>

                    <!-- Layers -->
                    <div class="tp-caption tp-resizeme text-white font-heading font-weight-400 text-center" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-125','-165']"
                      data-fontsize="['54','54','50','38']" data-lineheight="['64','64','60','48']" data-width="full" data-height="none"
                      data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      COMPETITIVE PRICES
                    </div>

                    <div class="tp-caption tp-resizeme text-white font-heading font-weight-700 text-center" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-62','-62','-62','-67']"
                      data-fontsize="['54','54','50','38']" data-lineheight="['64','64','60','48']" data-width="full" data-height="none"
                      data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      LONG TERM WARRANTIES
                    </div>

                    <div class="tp-caption tp-resizeme text-white text-center" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                      data-y="['middle','middle','middle','middle']" data-voffset="['26','26','26','56']" data-fontsize="['16','16','16','15']"
                      data-lineheight="['34','34','34','30']" data-width="full" data-height="none" data-whitespace="normal"
                      data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      We provide top-notch service for import and domestic car repairs. Servicing Brakes,
                      <br> Exhaust, Tune Ups, Engine Repairs, Electrical and A.C Systems.
                    </div>

                    <div class="tp-caption text-center" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                      data-voffset="['115','115','110','167']" data-width="full" data-height="none" data-whitespace="normal"
                      data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      <a href="#" class="wprt-button accent big">GET FREE QUOTES</a>
                    </div>
                  </li>
                  <!-- /End Slide 2 -->

                  <!-- Slide 3 -->
                  <li data-transition="random">
                    <!-- Main Image -->
                    <img src="/assets/img/works/work-2-full.jpg" alt="" data-bgposition="center center" data-no-retina>

                    <!-- Layers -->
                    <div class="tp-caption tp-resizeme text-white font-heading font-weight-400 text-right" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-125','-165']"
                      data-fontsize="['54','54','50','38']" data-lineheight="['64','64','60','48']" data-width="full" data-height="none"
                      data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      MASTER MAINTENANCE
                    </div>

                    <div class="tp-caption tp-resizeme text-white font-heading font-weight-700 text-right" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-62','-62','-62','-67']"
                      data-fontsize="['54','54','50','38']" data-lineheight="['64','64','60','48']" data-width="full" data-height="none"
                      data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      & QUALIFIED TECHNICIANS
                    </div>

                    <div class="tp-caption tp-resizeme text-white text-right" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                      data-y="['middle','middle','middle','middle']" data-voffset="['26','26','26','56']" data-fontsize="['16','16','16','15']"
                      data-lineheight="['34','34','34','30']" data-width="full" data-height="none" data-whitespace="normal"
                      data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      We provide top-notch service for import and domestic car repairs. Servicing Brakes,
                      <br> Exhaust, Tune Ups, Engine Repairs, Electrical and A.C Systems.
                    </div>

                    <div class="tp-caption text-right" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                      data-voffset="['115','115','110','167']" data-width="full" data-height="none" data-whitespace="normal"
                      data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];"
                      data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                      <a href="#" class="wprt-button accent big">GET FREE QUOTES</a>
                    </div>
                  </li>
                  <!-- /End Slide 3 -->
                </ul>
              </div>
            </div>
            <!-- END SLIDER -->

            <div id="row-services" class="row-services">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="wprt-spacer clearfix" data-desktop="83" data-mobi="60" data-smobi="60"></div>

                    <div class="wprt-headings style-1 clearfix text-center">
                      <h2 class="heading clearfix">SERVICES</h2>
                      <div class="sep clearfix"></div>
                      <p class="sub-heading clearfix">Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes,
                        and total vehicle overhauls.</p>
                    </div>
                    <!-- /.wprt-headings -->

                    <div class="wprt-spacer clearfix" data-desktop="50" data-mobi="40" data-smobi="40"></div>

                    <div class="wprt-carousel-box has-bullets bullet-circle bullet40" data-auto="false" data-loop="false" data-gap="30" data-column="3"
                      data-column2="2" data-column3="1">
                      <div class="owl-carousel owl-theme">
                        {{#each item in data }}
                        <div class="wprt-content-box style-2">
                          <div class="wprt-icon-box style-6 clearfix icon-top w85 grey-bg align-left has-width text-center">
                            <div class="icon-wrap">
                              <i class="{{item.Icon}}"></i>
                            </div>

                            <h3 class="heading">
                              <a target="_blank" href="#">{{item.Service}}</a>
                            </h3>

                            <p class="desc">{{item.ShortDescription}}</p>

                            <div class="elm-btn">
                              <a class="simple-link2 font-heading" href="/service/{{item._id}}">READ MORE</a>
                            </div>
                          </div>
                          <!-- /.wprt-icon-box -->

                        </div>
                        <!-- /.wprt-content-box -->
                        {{/each}}
                      </div>
                    </div>
                    <!-- /.wprt-carousel-box -->

                    <div class="wprt-spacer clearfix" data-desktop="75" data-mobi="60" data-smobi="60"></div>


                    <div class="wprt-align-box text-center">
                      <div class="button-wrap icon-left">
                        <a href="/services" class="wprt-button outline light">VIEW ALL SERVICES</a>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container -->
            </div>
            <!-- END SERVICES -->


            <!-- GALLERY -->
            <div class="row-gallery">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="wprt-spacer clearfix" data-desktop="83" data-mobi="60" data-smobi="60"></div>

                    <div class="wprt-headings style-1 clearfix text-center">
                      <h2 class="heading clearfix">OUR GALLERY</h2>
                      <div class="sep clearfix"></div>
                      <p class="sub-heading clearfix">Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes,
                        and total vehicle overhauls.</p>
                    </div>
                    <!-- /.wprt-headings -->

                    <div class="wprt-spacer clearfix" data-desktop="45" data-mobi="40" data-smobi="40"></div>

                    <div class="wprt-gallery has-arrows arrow-center offsetcenter offset-v0" data-auto="false" data-column="3" data-column2="2"
                      data-column3="1" data-gap="20">
                      <div class="owl-carousel owl-theme">
                        <div class="gallery-box">
                          <div class="inner">
                            <div class="hover-effect">
                              <div class="gallery-image">
                                <img src="/assets/img/works/work-1-640x640.jpg" alt="Image">
                              </div>

                              <div class="text">
                                <div class="icon">
                                  <a class="zoom-popup" href="/assets/img/works/work-1-full.jpg">
                                    <i class="rt-icon-zoom-in-2"></i>
                                  </a>
                                </div>
                                <h2>
                                  <a href="#" title="#">TUNE-UPS SYSTEM</a>
                                </h2>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.gallery-box -->

                        <div class="gallery-box">
                          <div class="inner">
                            <div class="hover-effect">
                              <div class="gallery-image">
                                <img src="/assets/img/works/work-2-640x640.jpg" alt="Image">
                              </div>

                              <div class="text">
                                <div class="icon">
                                  <a class="zoom-popup" href="/assets/img/works/work-2-full.jpg">
                                    <i class="rt-icon-zoom-in-2"></i>
                                  </a>
                                </div>
                                <h2>
                                  <a href="#" title="#">ENGINE OIL CHANGE</a>
                                </h2>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.gallery-box -->

                        <div class="gallery-box">
                          <div class="inner">
                            <div class="hover-effect">
                              <div class="gallery-image">
                                <img src="/assets/img/works/work-3-640x640.jpg" alt="Image">
                              </div>

                              <div class="text">
                                <div class="icon">
                                  <a class="zoom-popup" href="/assets/img/works/work-3-full.jpg">
                                    <i class="rt-icon-zoom-in-2"></i>
                                  </a>
                                </div>
                                <h2>
                                  <a href="#" title="#">CHECKING CAR ENGINE</a>
                                </h2>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.gallery-box -->

                        <div class="gallery-box">
                          <div class="inner">
                            <div class="hover-effect">
                              <div class="gallery-image">
                                <img src="/assets/img/works/work-4-640x640.jpg" alt="Image">
                              </div>

                              <div class="text">
                                <div class="icon">
                                  <a class="zoom-popup" href="/assets/img/works/work-4-full.jpg">
                                    <i class="rt-icon-zoom-in-2"></i>
                                  </a>
                                </div>
                                <h2>
                                  <a href="#" title="#">AIR CONDITIONING</a>
                                </h2>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.gallery-box -->

                        <div class="gallery-box">
                          <div class="inner">
                            <div class="hover-effect">
                              <div class="gallery-image">
                                <img src="/assets/img/works/work-5-640x640.jpg" alt="Image">
                              </div>

                              <div class="text">
                                <div class="icon">
                                  <a class="zoom-popup" href="/assets/img/works/work-5-full.jpg">
                                    <i class="rt-icon-zoom-in-2"></i>
                                  </a>
                                </div>
                                <h2>
                                  <a href="#" title="#">WHEEL ALIGNMENT</a>
                                </h2>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.gallery-box -->

                        <div class="gallery-box">
                          <div class="inner">
                            <div class="hover-effect">
                              <div class="gallery-image">
                                <img src="/assets/img/works/work-6-640x640.jpg" alt="Image">
                              </div>

                              <div class="text">
                                <div class="icon">
                                  <a class="zoom-popup" href="/assets/img/works/work-6-full.jpg">
                                    <i class="rt-icon-zoom-in-2"></i>
                                  </a>
                                </div>
                                <h2>
                                  <a href="#" title="#">CAR MAINTENANCE</a>
                                </h2>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.gallery-box -->
                      </div>
                    </div>
                    <!-- /.wprt-gallery -->

                    <div class="wprt-spacer clearfix" data-desktop="50" data-mobi="40" data-smobi="40"></div>

                    <div class="wprt-align-box text-center">
                      <div class="button-wrap icon-left">
                        <a href="#" class="wprt-button outline light">SEE FULL GALLERY</a>
                      </div>
                    </div>

                    <div class="wprt-spacer clearfix" data-desktop="70" data-mobi="50" data-smobi="50"></div>
                  </div>
                  <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container -->
            </div>
            <!-- END GALLERY -->


            <div class="row-team">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="wprt-spacer clearfix" data-desktop="83" data-mobi="60" data-smobi="60"></div>

                    <div class="wprt-headings style-1 clearfix text-center">
                      <h2 class="heading clearfix">CERTIFIED SPARE PARTS</h2>
                      <div class="sep clearfix"></div>
                      <p class="sub-heading clearfix">Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes,
                        and total vehicle overhauls.</p>
                    </div>
                    <!-- /.wprt-headings -->

                    <div class="wprt-spacer clearfix" data-desktop="45" data-mobi="40" data-smobi="40"></div>

                    <div class="wprt-team has-shadow bullet-circle has-bullets" data-auto="false" data-column="4" data-column2="2" data-column3="1"
                      data-gap="30">
                      <div class="owl-carousel owl-theme">
                        <div class="team-item clearfix">
                          <div class="inner">
                            <div class="thumb">
                              <img src="assets/img/team/member-1-303x363.jpg" alt="Image">
                              <ul class="socials clearfix">
                                <li class="twitter">
                                  <a href="#">
                                    <i class="rt-icon-twitter"></i>
                                  </a>
                                </li>
                                <li class="facebook">
                                  <a href="#">
                                    <i class="rt-icon-facebook"></i>
                                  </a>
                                </li>
                                <li class="linkedin">
                                  <a href="#">
                                    <i class="rt-icon-linkedin"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <!-- /.thumb -->

                            <div class="text-wrap">
                              <h4 class="name">BARBARA MCLAREN</h4>
                              <div class="position">MARKETING MANAGER</div>
                            </div>
                          </div>
                        </div>
                        <!-- /.team-item -->

                        <div class="team-item clearfix">
                          <div class="inner">
                            <div class="thumb">
                              <img src="assets/img/team/member-2-303x363.jpg" alt="Image">
                              <ul class="socials clearfix">
                                <li class="twitter">
                                  <a href="#">
                                    <i class="rt-icon-twitter"></i>
                                  </a>
                                </li>
                                <li class="facebook">
                                  <a href="#">
                                    <i class="rt-icon-facebook"></i>
                                  </a>
                                </li>
                                <li class="linkedin">
                                  <a href="#">
                                    <i class="rt-icon-linkedin"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <!-- /.thumb -->

                            <div class="text-wrap">
                              <h4 class="name">BARBARA MCLAREN</h4>
                              <div class="position">MARKETING MANAGER</div>
                            </div>
                          </div>
                        </div>
                        <!-- /.team-item -->

                      </div>
                    </div>
                    <!-- /.wprt-team -->

                    <div class="wprt-spacer clearfix" data-desktop="70" data-mobi="40" data-smobi="40"></div>
                  </div>
                  <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container -->
            </div>
            <!-- END TEAM -->

            <!-- NEWS -->
            <div class="row-news">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="wprt-spacer clearfix" data-desktop="83" data-mobi="60" data-smobi="60"></div>

                    <div class="wprt-headings style-1 clearfix text-center">
                      <h2 class="heading clearfix"> NEWS</h2>
                      <div class="sep clearfix"></div>
                      <!--
                      <p class="sub-heading clearfix">Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes,
                        and total vehicle overhauls.</p>
                        -->
                    </div>
                    <!-- /.wprt-headings -->

                    <div class="wprt-spacer clearfix" data-desktop="45" data-mobi="40" data-smobi="40"></div>

                    <div class="wprt-news has-shadow bullet-circle has-bullets bullet40" data-auto="false" data-column="3" data-column2="2" data-column3="1"
                      data-gap="30">
                      <div class="owl-carousel owl-theme">

                        {{#each item in posts }}
                        <div class="news-item clearfix">
                          <div class="inner">
                            <div class="thumb">
                              <img src='{{item.Image}}' alt="Image">
                              <div class="meta">
                                <span class="post-date">October 3, 2017</span>
                              </div>
                            </div>
                            <div class="text-wrap">
                              <h3 class="title font-weight-600">
                                <a href="/blog">{{item.Title}}</a>
                              </h3>

                              <p class="excerpt-text">{{{item.Content}}}</p>

                              <div class="post-btn">
                                <a href=# class="small wprt-button outline ol-accent">READ MORE</a>
                              </div>
                            </div>
                            <!-- /.text-wrap -->
                          </div>
                        </div>
                        <!-- /.news-item -->
                        {{/each}}
                      </div>
                    </div>
                    <!-- /.wprt-news -->

                    <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="50" data-smobi="50"></div>
                  </div>
                  <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container -->
            </div>
            <!-- END NEWS -->


            <div class="row-facts-1 parallax">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="wprt-spacer clearfix" data-desktop="90" data-mobi="60" data-smobi="60"></div>
                  </div>
                  <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->

                <div class="row separator dark">
                  <div class="col-md-3">
                    <div class="wprt-counter style-2 clearfix icon-left text-center">
                      <div class="inner">
                        <div class="icon-wrap">
                          <div class="icon">
                            <i class="as-icon-mechanic"></i>
                          </div>
                        </div>

                        <div class="text-wrap">
                          <div class="number-wrap font-heading">
                            <span class="prefix"></span>
                            <span class="number " data-speed="2000" data-to="320" data-inviewport="yes">320</span>
                            <span class="suffix">+</span>
                          </div>
                          <h3 class="heading">TECHNICIALS</h3>
                        </div>
                      </div>
                    </div>
                    <!-- /.wprt-counter -->

                    <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                  </div>
                  <!-- /.col-md-3 -->

                  <div class="col-md-3">
                    <div class="wprt-counter style-2 clearfix icon-left text-center">
                      <div class="inner">
                        <div class="icon-wrap">
                          <div class="icon">
                            <i class="as-icon-key2"></i>
                          </div>
                        </div>

                        <div class="text-wrap">
                          <div class="number-wrap font-heading">
                            <span class="prefix"></span>
                            <span class="number " data-speed="2000" data-to="100" data-inviewport="yes">100</span>
                            <span class="suffix">%</span>
                          </div>
                          <h3 class="heading">TRANSPARENCY</h3>
                        </div>
                      </div>
                    </div>
                    <!-- /.wprt-counter -->

                    <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                  </div>
                  <!-- /.col-md-3 -->

                  <div class="col-md-3">
                    <div class="wprt-counter style-2 clearfix icon-left text-center">
                      <div class="inner">
                        <div class="icon-wrap">
                          <div class="icon">
                            <i class="as-icon-inspection"></i>
                          </div>
                        </div>

                        <div class="text-wrap">
                          <div class="number-wrap font-heading">
                            <span class="prefix"></span>
                            <span class="number " data-speed="2000" data-to="890" data-inviewport="yes">890</span>
                            <span class="suffix">+</span>
                          </div>
                          <h3 class="heading">DONE PROJECTS</h3>
                        </div>
                      </div>
                    </div>
                    <!-- /.wprt-counter -->

                    <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="35" data-smobi="35"></div>
                  </div>
                  <!-- /.col-md-3 -->

                  <div class="col-md-3">
                    <div class="wprt-counter style-2 clearfix icon-left text-center">
                      <div class="inner">
                        <div class="icon-wrap">
                          <div class="icon">
                            <i class="as-icon-diagnostic"></i>
                          </div>
                        </div>
                        <div class="text-wrap">
                          <div class="number-wrap font-heading">
                            <span class="prefix"></span>
                            <span class="number " data-speed="2000" data-to="640" data-inviewport="yes">640</span>
                            <span class="suffix">+</span>
                          </div>
                          <h3 class="heading">WON AWARDS</h3>
                        </div>
                      </div>
                    </div>
                    <!-- /.wprt-counter -->
                  </div>
                  <!-- /.col-md-3 -->
                </div>
                <!-- /.row -->

                <div class="row">
                  <div class="col-md-12">
                    <div class="wprt-spacer clearfix" data-desktop="90" data-mobi="60" data-smobi="60"></div>
                  </div>
                  <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container -->
            </div>



            <!-- PROMOTION -->
            <div class="row-promotion bg-accent">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="wprt-spacer clearfix" data-desktop="25" data-mobi="35" data-smobi="37"></div>

                    <div class="wprt-action-box style-1 has-icon">
                      <div class="inner">
                        <div class="heading-wrap">
                          <div class="text-wrap">
                            <h3 class="heading">
                              We Are Here To Help With Your Transportation All Repair Needs
                            </h3>
                            <span class="icon">
                              <i class="as-icon-speedometer2"></i>
                            </span>
                          </div>
                        </div>
                        <div class="button-wrap">
                          <a href="#" class="wprt-button white">BOOK YOUR MOD</a>
                        </div>
                      </div>
                    </div>

                    <div class="wprt-spacer clearfix" data-desktop="25" data-mobi="35" data-smobi="37"></div>
                  </div>
                  <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container -->
            </div>
            <!-- END PROMOTION -->
          </div>
          <!-- /.page-content -->
        </div>
        <!-- /#inner-content -->
      </div>
      <!-- /#site-content -->
    </div>
    <!-- /#content-wrap -->
  </div>

</template>