<template name="register">
  <div class="container">

    <div class="wprt-spacer clearfix" data-desktop="70" data-mobi="30" data-smobi="30"></div>

    <div class="row large-gutters">
      <div class="col-md-4">
        <div class="wprt-headings style-1 clearfix">
          <h3 class="heading clearfix">Join Us</h3>
          <div class="sep clearfix"></div>
          <p class="sub-heading clearfix">Get in touch with the professionals at R7Auto Service Group for quality services at competitive prices.</p>
        </div>
        <!-- /.wprt-headings -->

        <div class="wprt-spacer clearfix" data-desktop="40" data-mobi="30" data-smobi="30"></div>

        <div class="wprt-icon-box style-5 clearfix icon-left w50 accent-outline outline-type align-left rounded-100 has-width">
          <div class="icon-wrap">
            <i class="rt-icon-placeholder2"></i>
          </div>

          <h3 class="heading">
            <a href="#">ADDRESS:</a>
          </h3>
          <p class="desc">379 Bordillon Lane, Ikoyi. Lagos Nigeria.</p>

        </div>

        <div class="wprt-spacer clearfix" data-desktop="25" data-mobi="25" data-smobi="25"></div>

        <div class="wprt-icon-box style-5 clearfix icon-left w50 accent-outline outline-type align-left rounded-100 has-width">
          <div class="icon-wrap">
            <i class="rt-icon-alarm-clock"></i>
          </div>
          <h3 class="heading">
            <a href="#">BUSINESS HOURS:</a>
          </h3>
          <p class="desc">Monday - Friday: 8:00 AM - 6:00 PM
            <br>Saturday: 8:00 AM - 3:00 PM</p>
        </div>
        <!-- /.wprt-icon-box -->

        <div class="wprt-spacer clearfix" data-desktop="25" data-mobi="25" data-smobi="25"></div>

        <div class="wprt-icon-box style-5 clearfix icon-left w50 accent-outline outline-type align-left rounded-100 has-width">
          <div class="icon-wrap">
            <i class="rt-icon-chat"></i>
          </div>
          <h3 class="heading">
            <a href="#">CALL US:</a>
          </h3>
          <p class="desc">Phone: 09099828744 </p>
        </div>
        <!-- /.wprt-icon-box -->

        <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="35" data-smobi="35"></div>
      </div>
      <!-- /.col-md-4 -->

      {{#if currentUser}}
      <div class="col-md-8">
        <div class="wprt-contact-form style-1 margin-top-10">
          <p>You are logged in</p>
        </div>
        <!-- /.wprt-contact-form -->
      </div>
      <!-- /.col-md-8 -->
      {{else}}

      <div class="col-md-8">
        <div class="wprt-accordions style-1">
          <div class="accordion-item active no-icon">
            <h3 class="accordion-heading">
              <span class="inner">Returning customer ? Click here to login</span>
            </h3>

            <div class="accordion-content">
              <div class="wprt-contact-form style-1">
                <form class="wpcf7-form" id="login">
                  <span class="wpcf7-form-control-wrap your-name">
                    <input type="email" tabindex="1" id="email" class="wpcf7-form-control" placeholder="E-mail *" required>
                  </span>
                  <span class="wpcf7-form-control-wrap your-email">
                    <input type="password" tabindex="2" id="pass" class="wpcf7-form-control" placeholder="Password *" required>
                  </span>
                  <div class="wrap-submit">
                    <input type="submit" value="LOGIN" class="submit wpcf7-form-control wpcf7-submit" id="submit" name="submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.accordion-item -->

          <div class="accordion-item no-icon">
            <h3 class="accordion-heading">
              <span class="inner">New here ? click here to Register</span>
            </h3>

            <div class="accordion-content">
              <div class="wprt-contact-form style-1">
                <div class="wprt-contact-form style-1">
                  <form class="wpcf7-form" id="register">
                    <span class="wpcf7-form-control-wrap your-name">
                      <input type="text" tabindex="1" class="wpcf7-form-control" id="fname" placeholder="First Name *" required>
                    </span>
                    <span class="wpcf7-form-control-wrap your-email">
                      <input type="text" tabindex="2" class="wpcf7-form-control" id="lname" placeholder="Last Name *" required>
                    </span>
                    <span class="wpcf7-form-control-wrap your-name">
                      <input type="email" tabindex="1" class="wpcf7-form-control" id="email" placeholder="E-mail *" required>
                    </span>
                    <span class="wpcf7-form-control-wrap your-email">
                      <input type="number" tabindex="2" class="wpcf7-form-control" placeholder="Phone Number *" id="phone" required>
                    </span>
                    <span class="wpcf7-form-control-wrap your-name">
                      <input type="password" tabindex="1" class="wpcf7-form-control" id="pass" placeholder="Password *" required>
                    </span>
                    <span class="wpcf7-form-control-wrap your-email">
                      <input type="password" tabindex="2" class="wpcf7-form-control" id="con_pass" placeholder="Confirm Password *" required>
                    </span>

                    <div class="wrap-submit">
                      <input type="submit" value="REGISTER" class="submit wpcf7-form-control wpcf7-submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- /.accordion-item -->
        </div>
        <!-- /.wprt-contact-form -->
      </div>
      <!-- /.col-md-8 -->
      {{/if}}
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-md-12">
        <div class="wprt-spacer clearfix" data-desktop="90" data-mobi="60" data-smobi="60"></div>
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
</template>