<template name='shopCarsItem'>
  <!-- Featured Title -->
  <div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="wprt-container clearfix">
      <div class="featured-title-inner-wrap">
        <div class="featured-title-heading-wrap">
          <h1 class="featured-title-heading font-weight-600">{{make}}, {{model}}</h1>
        </div>

        <div id="breadcrumbs">
          <div class="breadcrumbs-inner">
            <div class="breadcrumb-trail">
              <a href="/" title="Home" rel="home" class="trail-begin">Home</a>
              <span class="sep">
                <i class="rt-icon-right-arrow12"></i>
              </span>
              <a href="/shop/cars" title="Shop" rel="home" class="trail-begin">Shop</a>
              <span>
                <i class="rt-icon-right-arrow12"></i>
              </span>
              <span class="trail-end">Cars</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #featured-title -->

  <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="30" data-smobi="30"></div>

  <!-- Main Content -->
  <div id="main-content" class="site-main clearfix margin-bottom-50">
    <div id="content-wrap" class="wprt-container">
      <div id="site-content" class="site-content clearfix">
        <div id="inner-content" class="inner-content-wrap">
          <div class="content-woocommerce">
            <div class="woo-single-post-class">

              <div class="wprt-content-box style-1" style="padding-left:0px">
                <div class="wprt-thumb-slider" data-width="129.667" data-margin="14">
                  <div id="wprt-slider" class="flexslider">
                    <ul class="slides">
                      {{#each item in gallery}}
                      <li class="flex-active-slide">
                        <a class="zoom-popup" href="{{item}}">
                          <i class="rt-icon-zoom-in-2"></i>
                        </a>
                        <img src="{{item}}" alt="image" />
                      </li>
                      {{/each}}

                    </ul>
                  </div>

                  <div id="wprt-carousel" class="flexslider">
                    <ul class="slides">
                      {{#each item in gallery}}
                      <li>
                        <img src="{{item}}" alt="image">
                      </li>
                      {{/each}}

                    </ul>
                  </div>
                </div>
                <!-- /.wprt-thumb-slider -->

                <div class="wprt-spacer clearfix" data-desktop="40" data-mobi="30" data-smobi="30"></div>
              </div>

              <div class="inner clearfix">
                <!--
                <div class="images">
                  <img src="{{Image}}" alt="image" />
                </div>
          -->
                <div class="summary entry-summary" style="float: left;">
                  <h1 class="product_title entry-title font-weight-600">{{make}}, {{model}}</h1>
                  <p class="price">
                    <ins>
                      <span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">&#8358;</span>{{formatPrice price}}</span>
                    </ins>
                  </p>

                  <div class="woocommerce-product-details__short-description">
                    <p>{{{description}}}</p>
                  </div>

                  <div class="cart">
                    <div class="quantity">
                      <!--
                      <label class="screen-reader-text">Quantity</label>
                      <input type="number" class="input-text qty text" name="quantity" value="1">
                      -->
                    </div>
                    <button id="make_enquiry" class="single_add_to_cart_button button">Make Enquiry</button>
                  </div>

                  <div class="product_meta">
                    <span class="posted_in">
                      Categories:
                      <a href="#" rel="tag">{{category}}</a>,

                    </span>
                  </div>
                </div>
                <!-- /.summary -->
              </div>
              <!-- /.inner -->

              <div class="wprt-tabs woocommerce-tabs clearfix style-1">
                <ul class="tab-title clearfix">
                  <li class="item-title active">
                    <span class="inner">Description</span>
                  </li>
                  <li class="item-title">
                    <span class="inner">Addition Info</span>
                  </li>
                  <li class="item-title">
                    <span class="inner">Reviews (0)</span>
                  </li>
                </ul>

                <div class="tab-content-wrap">
                  <div class="tab-content">
                    <div class="item-content">
                      <h4>Product Description</h4>
                      <p>{{{description}}}.</p>
                    </div>
                  </div>
                  <!-- /.tab-content -->

                  <div class="tab-content">
                    <div class="item-content">
                      <h4>Addition Information</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed,
                        volutpat nisi. Cras sit amet felis nulla. Cras mi ex, mattis vel molestie sed. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi.
                        Cras sit amet felis nulla. Cras mi ex, mattis vel molestie sed. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. In a metus pellentesque, scelerisque ex sed, volutpat nisi. Cras sit amet felis
                        nulla. Cras mi ex, mattis vel molestie sed.</p>
                    </div>
                  </div>
                  <!-- /.tab-content -->

                  <div class="tab-content">
                    <div class="item-content">
                      <h4>Reviews</h4>
                      <p>There are no reviews yet.</p>
                    </div>
                  </div>
                  <!-- /.tab-content -->
                </div>
                <!-- /.tab-content-wrap -->
              </div>
              <!-- /.wprt-tabs -->

            </div>
            <!-- /.woo-single-post-class -->
          </div>
          <!-- /.content-woocommerce -->
        </div>
        <!-- /#inner-content -->
      </div>
      <!-- /#site-content -->

      <div id="sidebar">
        <div id="inner-sidebar" class="inner-content-wrap">
          <div class="widget woocommerce widget_product_search">
            <h2 class="widget-title">
              <span>Product Search</span>
            </h2>

            <form role="search" method="get" class="woocommerce-product-search" action="#">
              <label class="screen-reader-text">Search for:</label>
              <input type="search" class="search-field" placeholder="Search products…" value="" name="s">
              <button type="submit" class="search-submit">Search</button>
            </form>
          </div>
          <!-- /.widget_product_search -->
          <!--
          <div class="widget woocommerce widget_price_filter">
            <h2 class="widget-title">
              <span>Price Filter</span>
            </h2>

            <form method="get" action="#">
              <div class="price_slider_wrapper">
                <div class="price_slider ui-slider">
                  <div class="ui-slider-range"></div>
                  <span class="ui-slider-handle ui-slider-range-min"></span>
                  <span class="ui-slider-handle ui-slider-range-min"></span>
                </div>

                <div class="price_slider_amount">
                  <button type="submit" class="button">Filter</button>
                  <div class="price_label">Price:
                    <span class="from">$9</span> —
                    <span class="to">$126</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        -->
          <!-- /.widget_price_filter -->

          <div class="widget woocommerce widget_top_rated_products">
            <h2 class="widget-title">
              <span>Top Products</span>
            </h2>

            <ul class="product_list_widget">
              {{#with relatedProducts}} {{#each relatedProducts}}
              <li>
                <a href="#">
                  <img width="150" height="150" src="{{image}}" alt="Image">
                  <span class="product-title">{{make}}, {{model}}</span>
                </a>
                <div class="star-rating">
                  <span class="six">Rated
                    <strong class="rating">5.00</strong> out of 5</span>
                </div>
                <!--
                <del>
                  <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">$</span>140.00</span>
                </del>
                -->
                <ins>
                  <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">&#8358;</span>{{formatPrice price}}</span>
                </ins>
              </li>
              {{/each}} {{/with}}
            </ul>
          </div>
          <!-- /.widget_top_rated_products -->

          <div class="widget woocommerce widget_product_tag_cloud">
            <h2 class="widget-title">
              <span>Popular Tags</span>
            </h2>

            <div class="tagcloud">
              <a href="#" class="tag-cloud-link">Business</a>
              <a href="#" class="tag-cloud-link">Design</a>
              <a href="#" class="tag-cloud-link">Development</a>
              <a href="#" class="tag-cloud-link">Entertanment</a>
              <a href="#" class="tag-cloud-link">Fashion</a>
              <a href="#" class="tag-cloud-link">Logo</a>
            </div>
          </div>
          <!-- /.widget_product_tag_cloud -->
        </div>
        <!-- /#inner-sidebar -->
      </div>
      <!-- /#sidebar -->
    </div>
    <!-- /#content-wrap -->

    <div class="related products" style="margin-left:50px; margin-right:50px">
      <h2>Related products</h2>
      <div class="wprt-carousel-box has-arrows arrow-center offset20 offset-v-120 has-bullets bullet-circle bullet30" data-auto="false"
        data-loop="false" data-gap="25" data-column="3" data-column2="2" data-column3="1">
        <div class="owl-carousel owl-theme">
          {{#each relatedProducts}}
          <div class="wprt-image-box style-1 clearfix text-center has-shadow">
            <div class="item">
              <div class="inner">
                <div class="thumb">
                  <img height="250" src="{{image}}" alt="Image">
                </div>

                <div class="text-wrap">
                  <h1 class="uppercase title font-weight-600">
                      {{make}}, {{model}}
                  </h1>

                  <p class="price">
                    <ins>
                      <span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">&#8358; </span>{{formatPrice price}}</span>
                    </ins>
                  </p>

                  <div class="elm-btn">
                    <a class="small wprt-button outline ol-accent" href="/shop/parts/{{_id}}">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
          <!-- /.wprt-image-box -->
        </div>
      </div>
      <!-- /.wprt-carousel-box -->
      <div class="wprt-spacer clearfix" data-desktop="94" data-mobi="60" data-smobi="60"></div>
    </div>

  </div>

  <!-- /#main-content -->

  <!-- PROMOTION -->
  <div class="row-promotion bg-accent">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wprt-spacer clearfix" data-desktop="25" data-mobi="25" data-smobi="35"></div>

          <div class="wprt-action-box style-1 has-icon">
            <div class="inner">
              <div class="heading-wrap">
                <div class="text-wrap">
                  <h3 class="heading">Fixed Price MOT Test includes a Comprehensive Safety Check</h3>
                  <span class="icon">
                    <i class="as-icon-speedometer2"></i>
                  </span>
                </div>
              </div>
              <div class="button-wrap">
                <a href="#" class="wprt-button white">BOOK YOUR MOT</a>
              </div>
            </div>
          </div>

          <div class="wprt-spacer clearfix" data-desktop="25" data-mobi="25" data-smobi="35"></div>
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- END PROMOTION -->

</template>